{% extends 'layout.html' %} 

{% block title %} {{title}} | {{super()}} {% endblock%}

{% block app_content %}
       
    <div class="col-md-12">
        <h1>{{ title }}</h1>
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"><a href="{{ url_for('clear_cart')}}" class="btn btn-primary">Clear Cart</a></th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in display_cart.items() %}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="{{ url_for('.static', filename=v["image"]) }}" alt="" class="img-responsive" />
                            </div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">{{ v["name"] }}</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">{{ "${:.2f}".format(v["price"]) }}</td>
                    <td data-th="Quantity">{{ v["qty"] }}</td>
                    <td data-th="Subtotal" class="text-center">{{ "${:.2f}".format(v["price"]*v["qty"]) }}</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-lg pull-right">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
             {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <strong>{{ "${:.2f}".format(total) }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('products') }}" class="btn btn-warning">
                            <i class="glyphicon glyphicon-chevron-left"></i> Continue Shopping</a>
                    </td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center">
                        <strong></strong>
                    </td>
                    <td>
                        <a href="{{ url_for('checkout_new') }}" class="btn btn-success btn-block">Checkout
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>            

{% endblock %}