{% extends 'layout.html' %} 

{% block app_content %}
<h1>Products</h1>

<div class="row">
    {% for product in products%}
    <div class="col-md-4">
        <ul class="list-group">
            <div class="list-group-item">
                <h3>{{ product.name }}
                    <em class="pull-right">${{ product.price }}</em>
                </h3>
                <div class="img-wrap product-image text-center">
                    <img src="{{ url_for('.static', filename=product.image) }}" alt="{{ product.name }}">
                </div>

                <div class="text-center">
                    {% if product.stock > 0 %}
                    <a href="add_to_cart/{{ product.id }}" class="btn btn-success">Add to Cart</a>
                    {% else %}
                    <button class="btn btn-danger" disabled>Sold Out</button>
                    {% endif %}
                </div>
            </div>
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}